<!DOCTYPE html>
<html>
  <head>
    <title>Chat NSS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div id="app">
      <router-view></router-view>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
